html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url(topography.png);
}

#container {
    width: 100%;
    height: 100%;
    text-align: center;
}
    
#title {
    font-family: 'Abril Fatface', cursive;
}

#compareTitle {
    font-family: 'Palanquin Dark', sans-serif;
    text-align:center;
}

#heatmap {
    width: auto;
    height: auto;
    margin-top: 0vh;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 20px;
    box-sizing: border-box;
}

.land {
    fill: #FFFFFF;
    fill-opacity: 1;
    stroke: black;
    stroke-opacity: 1;
    stroke-width: 1;
}

#tooltip {
    stroke: black;
    stroke-width: 1;
    fill: white;
    padding: 5px;
}

#compare {
    padding-top:7vh;
    height:100vh;
    border-left:thin solid black
}

.slice path {
    stroke: #fff;
    stroke-width: 1px;
}

.textTop {
    font-family: 'Segoe UI';
    font-size: 12pt;
    fill: #bbb;
}

.textBottom {
    fill: #444;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 18pt;
}

.top {
    border: 1px solid #bbb;
    color: #777;
    font-family: 'Segoe UI';
    padding: 5px;
    text-decoration: none;
}

.top:hover {
    border: 1px solid #555;
    color: #333;
}

